---
import 'bootstrap/dist/css/bootstrap.min.css';
---

<header>
    <div class="row">
        <a class="col-6 display-6 text-decoration-none text-info"  href="/">Astro | Proof of Concept</a>
        <a class="col-6 text-end display-6 text-decoration-none text-info"  href="/ToDoList">Task List</a>
    </div>
</header>>